body {
    margin: 0;
}

.container {
    border: 6px solid black;
    display: grid;
    /*height: 800px;*/
    /*grid-template-columns: repeat(3, minmax(200px, 1fr));*/
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-template: repeat(3, 200px) / repeat(3, 200px);
    /*gap: 20px 20px;*/
    /*place-items: center;*/
    /*place-content: space-evenly;*/
    /*grid-auto-flow: column;*/
}

.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: #b4bf35;
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.item-2 {
    background-color: #b95f21;
    place-self: center;
}

.item-3 {
    background-color: #1c4c56;
}

.item-4 {
    background-color: #cfb276;
}

.item-5 {
    background-color: #6b0803;
}

.item-6 {
    background-color: #1c4c00;
}

.item-7 {
    background-color: #b95f21;
}

.item-8 {
    background-color: #01243a;
}

.item-9 {
    background-color: #aad041;
}